@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  padding: 0;
  margin: 0;
}

body.lang-km {
  font-family: var(--font-kantumruy) !important;
}

body.lang-en {
  font-family: var(--font-poppins) !important;
}

body.lang-zh {
  font-family: var(--font-notosanssc) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  table thead tr th {
    @apply bg-primary/20 text-primary sticky top-0 whitespace-nowrap backdrop-blur-sm;
  }

  .heading-text {
    @apply text-gray-900;
  }

  .button {
    @apply bg-primary disabled:!bg-primary/30 disabled:cursor-not-allowed hover:!bg-primary/90 active:!bg-primary focus:!outline-none focus:ring-0 focus:border-none font-semibold w-full px-8 py-2 md:py-3 rounded-lg text-white/70 flex items-center justify-center gap-3;
  }

  .close {
    @apply w-10 h-10 bg-gray-100 rounded-full inline-flex items-center justify-center cursor-pointer;
  }

  .font-title-big {
    @apply font-semibold text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }

  .font-title-medium {
    @apply font-semibold text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }

  .font-title-small {
    @apply font-semibold text-lg md:text-xl lg:text-2xl xl:text-3xl;
  }

  .report {
    @apply border-[#CFCFCF33] border rounded-t-3xl bg-secondary w-full h-full px-4 pt-4 pb-1 relative;

    .report-tab {
      @apply absolute -top-12 left-0 right-2 flex justify-end gap-1 p-2 rounded-t-3xl overflow-hidden;
    }
  }

  .otp-input {
    @apply text-center border rounded-lg focus:ring-0 w-12 h-12 md:w-14 md:h-14 bg-gray-100 border-gray-300 text-2xl md:text-3xl font-semibold;
  }

  .tab {
    @apply px-8 py-2 font-semibold rounded-t-2xl truncate;
  }

  .tab.active {
    @apply bg-primary text-black;
  }

  .tab:not(.active) {
    @apply bg-[#3E3B35] text-white;
  }

  .thead {
    @apply w-full;
  }

  .type-box {
    @apply relative flex items-center justify-center overflow-hidden w-full;
  }

  .bet-type {
    @apply w-full p-2 text-black text-center;
  }

  .payout-box {
    @apply w-full inline-flex flex-shrink flex-col items-center;
  }

  .bet-button {
    @apply bg-primary px-2 py-1 rounded-full text-black flex items-center justify-center whitespace-nowrap truncate h-fit;
  }

  .point-box {
    @apply border border-[#CFCFCF33] flex justify-center items-center w-[2.3rem] text-[10px] text-secondary p-[2px];
  }

  .border-or{
    @apply my-2 md:my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t before:border-neutral-300 after:mt-0.5 after:flex-1 after:border-t after:border-neutral-300;
  }

  .progress-title {
    @apply text-xs md:text-sm font-medium text-gray-400;
  }

  .progress-info {
    @apply text-sm md:text-base font-medium text-gray-900;
  }

  .progress-item {
    @apply absolute flex items-center justify-center w-12 h-12 bg-gray-200 rounded-full -start-4 ring-1 ring-gray-200 z-10 -left-16;
  }

  .progress-item.progress-item-active{
    @apply text-black !ring-primary;
  }

  .progress-item.progress-item-completed{
    @apply text-gray-900 bg-primary ring-primary;
  }

  .border-progress {
    @apply border absolute border-gray-300 start-1.5 top-[56px] h-[30px] z-0 rounded-full !-left-10;
  }

  .border-progress-mobile {
    @apply bg-gray-300 h-[4px] rounded-full absolute top-0 left-0 z-0 w-full;
  }

  .border-progress-mobile-active {
    @apply  bg-primary h-[4px] !z-10 rounded-full absolute top-0 left-0;
  }

  .border-progress-active {
    @apply  border absolute border-primary start-1.5 top-[56px] h-[15px] z-10 rounded-full !-left-10;
  }

  .border-progress-completed {
    @apply border-primary
  }

  .step {
    @apply absolute bg-gray-200 py-0.5 px-3 rounded-full ring-gray-200 ring-1 left-12 text-sm;
  }

  .step.step-active {
    @apply ring-primary;
  }

  .step.step-completed {
    @apply bg-primary text-white ring-primary;
  }

  .cuisine-types {
    @apply bg-gray-100 py-2 md:py-3 px-2 md:px-4 rounded-lg border border-gray-100 flex gap-x-2 md:gap-x-4 items-center cursor-pointer;
  }

  .businesses-types {
    @apply bg-gray-100 py-3 md:py-5 px-4 md:px-6 rounded-lg border border-gray-100 flex gap-x-2 md:gap-x-4 items-center cursor-pointer;
  }

  .businesses-types.active,
  .cuisine-types.active {
    @apply border-primary;
  }

  .upload-container{
    @apply focus-visible:outline-0 relative flex items-center justify-between w-full;
  }

  .drop-area {
    @apply focus-visible:outline-0 w-full rounded-md border-2 border-dotted bg-gray-50 border-gray-200 transition-all hover:border-primary text-center relative inline-flex items-center justify-center p-2 md:p-6 min-h-[140px] md:min-h-[160px];
  }

  .drop-element, .uploaded-image {
    @apply flex items-center flex-col gap-y-1 w-full h-full text-gray-500 text-sm cursor-pointer;
  }
  
  .delete-file {
    @apply absolute z-10 right-2 top-1 bg-white rounded-full p-2 shadow-md;
  }

  .button-back {
    @apply bg-white disabled:bg-primary/70 py-0.5 relative flex items-center justify-center;
  }

  .button-next {
    @apply bg-primary disabled:bg-primary/70 text-white py-0.5 relative flex items-center justify-center;
  }
}

::-webkit-scrollbar {
  width: 6px;
  background: transparent !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4747477c;
  border-radius: 10px;
  transition: 0.05s;
}

::-webkit-scrollbar-thumb:hover {
  background: #30303099;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
  background: transparent !important;
}

.scroll-form-create::-webkit-scrollbar {
  width: 3px;
}
.sidebar-scroll div:first-child {
  background: transparent !important;
}

.notification-content {
  display: flex;
  padding: 16px;
}

.notification-title {
  font-weight: 600;
  color: #4b5563;
}

.toast {
  position: fixed;
  z-index: 99;
}

.notification {
  background: #ffffff;
  box-shadow: 0px 0px 25px 0px #00000020;
  border-radius: 6px;
  margin-bottom: 12px;
  border: 1px solid #f1f1f1;
  position: relative;
}

/* .custom-modal .relative.h-full {
  position: absolute;
  top: 10px;
} */

.custom-modal .relative.h-full:focus {
  outline: none;
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.drawer-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-top: 1px solid #DCDCDC;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.drawer-body {
  padding: 16px;
  height: calc(100% - 64px);
  overflow-y: auto;
}


table {
  border: none;
  border-spacing: 0;
}

.scrollbar::-webkit-scrollbar {
  width: 3px;
  cursor: pointer !important;
}

.scrollbar {
  border-radius: 12px 17px 0 0;
}

table thead th:first-child {
  border-radius: 12px 0 0 0;
}

table thead th:last-child {
  border-radius: 0 12px 0 0;
}

td {
  padding: 5px;
  text-align: center;
  font-size: 13px;
}

th {
  padding: 8px 5px;
  font-size: 14px;
}

table tr:nth-child(even) {
  background: #d6d6d620;
}

table tr:nth-child(odd) {
  background: transparent;
}

.bg-dev {
  background: pink;
}

.custom-style {
  --border-bottom-width: 1px;
  --border-color: rgba(27, 26, 28, 0.08);
  --border-left-width: 1px;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top-width: 1px;
  backdrop-filter: blur(10px);
  background-color: rgba(242, 242, 242, 0.9);
  border-radius: 20px;
  box-shadow: rgba(25, 26, 25, 0.05) 0px 0px 8px 0px;
  opacity: 1;
}

.dropdown-relative {
  padding-left: 4px;
  padding-right: 4px;
}

.dropdown-relative button {
  border-radius: 4px;
}

.dropdown-action {
  border-radius: 4px;
  padding: 6px 30px 6px 10px;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

button.group {
  border: none !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.hover-move-up {
  transition: transform 0.3s ease-in-out;
}

.hover-move-up:hover {
  transform: translateY(-20px);
}

.img-svg{
  width: calc(80vw + 1.2rem);
}

.logo-img {
  width: calc(10vw + 1.6rem) ;
}

.logo-login {
  width: calc(30vw + 0.8rem);
}

.logo-form {
  width: calc(30vw + 0.8rem);
}

.qr-img {
  width: calc(8.5vw + 0.6rem) !important;
}

.bg-img {
  width: calc(90vw + 1.2rem) !important;
  height: calc(80vh + 1.2rem) !important;
}

.feature-img {
  width: calc(34vw + 0.7rem) !important;
}

.header-width {
  width: calc(100vw - 1rem);
}

.hero-computer-img{
  width: calc(90vw + 0.5rem);
}

.hero-left-img{
  width: calc(17vw + 1.2rem) ;
}

.hero-right-img{
  width: calc(18vw + 1.2rem);
}

.font-big{
  font-size: calc(1.6vw + 1.2rem);
}

.font-big-4{
  font-size: calc(1.45vw + 0.7rem);
}

.font-big-2{
  font-size: calc(1.6vw + 0.65rem) !important;
}

.font-big-3{
  font-size: calc(1.8vw + 0.7rem) !important;
}

.custom-margin{
  margin-top: calc(12.5vw + 4.2rem);
}

.create-form{
  width: calc(100vw - 1rem);
  height: 100%;
}

.width-category{
  width: calc(30vw + 1rem);
}

.left-form-create {
  width: 100%;
}

.arrow-right {
  width: 3.2rem;
  right: calc(22vw + 0.2rem);
  bottom: calc(-10vw + 0.6rem);
}

.ul-box li {
  list-style-type: none; 
  position: relative;
  padding-left: 1rem;
}

.ul-box li::before {
  content: ''; 
  position: absolute; 
  left: 0; 
  top: 50%;
  transform: translateY(-50%); 
  width: 0.5rem; 
  height: 0.5rem; 
  border-radius: 50%;
}

.custom-shadow-1 {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px -3px 20px 0px rgba(0, 0, 0, 0.04);
}

.custom-shadow-2{
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.07);
}

.form-item {
  margin-bottom: 12px;
  position: relative;
}

.form-item .error {
  color: #EF4444;
  position: absolute;
  bottom: -24px;
  left: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-label {
  display: flex;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.input {
  background: #f6f6f6;
  height: 44px;
  width: 100%;
  padding-left: 16px;
  font-size: 14px;
  outline: none;
  outline-offset: 0;
  border: solid 1px #f6f6f6;
}

.input:focus {
  border: solid 1px #f6f6f6;
}

.input-2 {
  background: #ffffff;
  height: 40px;
  width: 100%;
  padding-left: 16px;
  font-size: 14px;
  outline: none;
  outline-offset: 0;
  border: solid 1px #ffffff;
}

.input-2:focus {
  border: solid 1px #f6f6f6;
}


input[type=radio] + label span {
  transition: background 0.2s, transform 0.2s;
}

input[type=radio] + label span:hover,
input[type=radio] + label:hover span {
  transform: scale(1.2);
}

input[type=radio]:checked + label span {
  background-color: #3490DC;
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type=radio]:checked + label {
  color: #3490DC;
}
@media screen and (min-width: 1280px) {
  .form-item {
    margin-bottom: 20px;
  }
  .img-svg{
    width: calc(45vw + 1.2rem) !important;
  }

  .header-width {
    width: 50rem !important;
  }

  .hero-computer-img{
    width: calc(40vw + 1.6rem) !important;
  }

  .hero-left-img{
    width: calc(14vw + 1.2rem) !important;
  }

  .hero-right-img{
    width: calc(17vw + 1.2rem) !important;
  }

  .font-big{
    font-size: calc(1.7vw + 0.8rem) !important;
  }

  .font-big-2{
    font-size: calc(1.8vw + 0.5rem) !important;
  }

  .font-big-3{
    font-size: calc(1.9vw + 0.6rem) !important;
  }

  .font-big-4{
    font-size: calc(1.45vw + 0.7rem);
  }

  .custom-margin{
    margin-top: 6.5rem;
  }

  .custom-shadow-3{
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
  }

  .create-form{
    width: calc(50vw + 1rem);
    height: calc(70dvh - 1rem);
  }

  .width-category{
    width: calc(10vw + 1rem);
  }

  .logo-img {
    width: calc(4.5vw + 0.8rem) !important;
  }

  .logo-login {
    width: 9.5rem !important;
  }

  .logo-form {
    width: calc(10vw + 0.1rem);
  }

  .qr-img {
    width: calc(5.7vw + 0.6rem) !important;
  }

  .feature-img {
    width: calc(24vw + 0.9rem) !important;
  }

  .setup-img-1 {
    width: calc(13vw + 0.4rem) !important;
  }

  .setup-img-2 {
    width: calc(11vw + 0.4rem) !important;
  }

  .setup-img-3 {
    width: calc(12vw + 0.3rem) !important;
  }

  .sign-up-right-img {
    width: calc(10.5vw + 0.6rem) !important;
    top: calc(5vw + 0.2rem);
    right: calc(5vw + 0.2rem);
  }

  .sign-up-left-img {
    width: calc(10.6vw + 0.6rem) !important;
    bottom: calc(6vw + 0.2rem);
    left: calc(7vw + 0.4rem);
  }

  .create-right-img {
    width: calc(40.5vw + 1.2rem) !important;
  }

  .left-form-create {
    width: calc(30vw + 0.3rem);
  }

  .arrow-right {
    width: 4.2rem;
    right: 38rem;
    bottom: -3.5rem;
  }

  .absolute-left-img{
    left: calc(1vw + 0.2rem);
    top: calc(6vw + 0.2rem);
  }

  .absolute-right-img{
    right: calc(8vw + 0.2rem);
    top: calc(5vw + 0.2rem);
  }

  .custom-modal .relative.h-full {
    width: calc(35vw - 1rem);
  }

  .bg-dev {
    background: red;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .form-item {
    margin-bottom: 20px;
  }

  .header-width {
    width: 45rem !important;
  }

  .img-svg{
    width: calc(60vw + 1.2rem) !important;
  }
  .hero-computer-img{
    width: calc(90vw + 1.6rem) !important;
  }

  .hero-left-img{
    width: calc(17vw + 1.2rem) !important;
  }

  .hero-right-img{
    width: calc(18vw + 1.2rem) !important;
  }

  .font-big{
    font-size: calc(1.7vw + 0.8rem) !important;
  }

  .font-big-2{
    font-size: calc(1.75vw + 0.75rem) !important;
  }

  .font-big-3{
    font-size: calc(1.85vw + 0.8rem) !important;
  }

  .font-big-4{
    font-size: calc(1.40vw + 0.65rem);
  }

  .custom-margin{
    margin-top: calc(9.5vh + 4.2rem) !important;
  }
  .custom-shadow-3{
    box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, 0.08);
  }

  .create-form{
    width: calc(75vw + 1rem);
    height: calc(70dvh - 1rem);
  }

  .width-category{
    width: calc(20vw + 1rem);
  }

  .logo-img {
    width: calc(7vw + 0.8rem) !important;
  }

  .logo-login {
    width: calc(14vw + 0.6rem) !important;
  }

  .logo-form {
    width: calc(9vw + 0.4rem);
  }

  .qr-img {
    width: calc(5.6vw + 0.6rem) !important;
  }

  .feature-img {
    width: calc(27vw + 0.8rem) !important;
  }

  .setup-img-1 {
    width: calc(12vw + 0.4rem) !important;
  }

  .setup-img-2 {
    width: calc(10vw + 0.4rem) !important;
  }

  .setup-img-3 {
    width: calc(14vw + 0.2rem) !important;
  }

  .sign-up-right-img {
    width: calc(16.5vw + 0.8rem) !important;
    top: calc(5vw + 0.2rem);
    right: calc(5vw + 0.2rem);
  }

  .sign-up-left-img {
    width: calc(16.6vw + 0.8rem) !important;
    bottom: calc(5vw + 0.2rem);
    left: calc(5vw + 0.2rem);
  }

  .create-right-img {
    width: calc(36.5vw + 1.1rem) !important;
  }

  .left-form-create {
    width: calc(32vw + 0.4rem);
  }

  .arrow-right {
    width: 4.7rem;
    right: calc(29vw + 0.2rem);
    bottom: calc(-5vw + 0.6rem);
  }

  .absolute-left-img{
    left: calc(5vw + 0.2rem);
    top: calc(6vw + 0.2rem);
    width: calc(9vw + 0.9rem) !important;
  }
  
  .absolute-right-img{
    right: calc(8vw + 0.2rem);
    top: calc(5vw + 0.2rem);
    width: calc(6vw + 0.9rem) !important;
  }

  .custom-modal .relative.h-full {
    width: calc(50vw - 1rem);
  }

  .bg-dev {
    background: blue;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
 .form-item {
    margin-bottom: 20px;
  }

  .header-width {
    width: 44rem !important;
  }

  .img-svg{
    width: calc(65vw + 1.2rem) !important;
  }

  .hero-computer-img{
    width: calc(100vw + 1.6rem) !important;
  }

  .hero-left-img{
    width: calc(13vw + 1.2rem) !important;
  }

  .hero-right-img{
    width: calc(16vw + 1.2rem) !important;
  }

  .font-big{
    font-size: calc(1.6vw + 0.8rem) !important;
  }

  .font-big-2{
    font-size: calc(1.7vw + 0.7rem) !important;
  }
  
  .font-big-3{
    font-size: calc(1.80vw + 0.75rem) !important;
  }

  .font-big-4{
    font-size: calc(1.35vw + 0.60rem);
  }
  
  .custom-margin{
    margin-top: calc(9.5vh + 4.2rem) !important;
  }

  .custom-shadow-3{
    box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.08);
  }
  
  .create-form{
    width: calc(90vw + 1rem);
    height: calc(70dvh - 1rem);
  }

  .width-category{
    width: calc(20vw + 1rem);
  }

  .logo-img {
    width: calc(7vw + 0.8rem) !important;
  }

  .logo-login {
    width: calc(18vw + 0.9rem) !important;
  }

  .logo-form {
    width: calc(12vw + 0.6rem);
  }

  .qr-img {
    width: calc(6vw + 0.7rem) !important;
  }

  .bg-img {
    width: calc(90vw + 1.1rem) !important;
    height: calc(70vh + 1.1rem) !important;
  }

  .feature-img {
    width: calc(26vw + 0.75rem) !important;
  }

  .setup-img-1 {
    width: calc(10vw + 0.4rem) !important;
  }

  .setup-img-2 {
    width: calc(9vw + 0.4rem) !important;
  }

  .setup-img-3 {
    width: calc(13vw + 0.2rem) !important;
  }

  .sign-up-right-img {
    width: calc(18vw + 0.7rem) !important;
    top: calc(5vw + 0.2rem);
  }

  .sign-up-left-img {
    width: calc(15vw + 0.7rem) !important;
    bottom: calc(5vw + 0.2rem);
  }

  .create-right-img {
    width: calc(38.5vw + 1rem) !important;
  }

  .left-form-create {
    width: calc(36vw + 0.4rem);
  }

  .arrow-right {
    width: 4.7rem;
    right: calc(23vw + 0.2rem);
    bottom: calc(-9vw + 0.6rem);
  }

  .absolute-left-img{
    left: calc(4.5vw + 0.2rem);
    top: calc(9vw + 0.2rem);
    width: calc(8vw + 0.6rem) !important;
  }
  
  .absolute-right-img{
    right: calc(1vw + 0.2rem);
    top: calc(7vw + 0.2rem);
    width: calc(5.5vw + 0.6rem) !important;
  }

  .custom-modal .relative.h-full {
    width: calc(70vw - 1rem);
  }

  .bg-dev {
    background: green;
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
 .form-item {
    margin-bottom: 20px;
  }

  .header-width {
    width: calc(90vw - 4rem) !important;
  }

  .img-svg{
    width: calc(75vw + 1.2rem) !important;
  }

  .hero-computer-img{
    width: calc(100vw + 1.6rem) !important;
  }

  .hero-left-img{
    width: calc(13vw + 1.2rem) !important;
  }

  .hero-right-img{
    width: calc(16vw + 1.2rem) !important;
  }

  .font-big{
    font-size: calc(1.6vw + 0.9rem) !important;
  }

  .font-big-2{
    font-size: calc(1.6vw + 0.65rem) !important;
  }
  
  .font-big-3{
    font-size: calc(1.7vw + 0.75rem) !important;
  }

  .font-big-4{
    font-size: calc(1.30vw + 0.55rem);
  }

  .custom-margin{
    margin-top: calc(9.5vh + 4.2rem) !important;
  }

  .create-form{
    width: calc(90vw + 1rem);
    height: calc(70dvh - 1rem);
  }

  .width-category{
    width: calc(40vw + 1rem);
  }

  .logo-img {
    width: calc(7vw + 0.8rem) !important;
  }

  .logo-login {
    width: calc(16vw + 0.8rem) !important;
  }

  .logo-form {
    width: calc(18vw + 0.6rem);
  }

  .qr-img {
    width: calc(7.5vw + 0.6rem) !important;
  }

  .bg-img {
    width: calc(90vw + 1rem) !important;
    height: calc(60vh + 1rem) !important;
  }

  .feature-img {
    width: calc(25vw + 0.7rem) !important;
  }

  .arrow-right {
    width: 3.7rem;
    right: calc(25vw + 0.2rem);
    bottom: calc(-8vw + 0.6rem);
  }
  .absolute-left-img{
    left: calc(4.5vw + 0.2rem);
    top: calc(26vw + 0.2rem);
    width: calc(10vw + 0.6rem) !important;
  }
  
  .absolute-right-img{
    right: calc(1vw + 0.2rem);
    top: calc(-12vw + 0.2rem);
    width: calc(7.5vw + 0.6rem) !important;
  }

  .custom-modal .relative.h-full {
    width: calc(80vw - 1rem);
  }

  .bg-dev {
    background: yellow;
  }
}